$bkg-dark: #202225;
$bkg-dark-transparent: rgba(22, 24, 27, 0.42);
$text:#72767D;
$textHover:#CCC;
$textDark:#1c1e21;
$highlight: #7088D7;
$glow:0px 0px 20px rgba(112, 136, 215, 0.7);
$bkg-light: #ffffff;
$bkg-grey: #F0F2F5;
$bkg-grey-hover: #AAA;
$bkg-grey-hover-light: #E5E5E5;
$green:#70D7AA;
$greenHover:#89ffcc;
$bkg-grey-rule:#DEDEDE;
$altBkg:rgba(0, 0, 0, 0.8);